@model IEnumerable<BankTransactions.Models.Bank>

@{
    ViewData["Title"] = "Banks";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BankName)
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BankName)
                </td>
                <td>
                    <a asp-action="AddOrEdit" asp-route-id="@item.BankId" class="btn">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </a>
                    <a asp-action="Details" asp-route-id="@item.BankId" class="btn">
                        <i class="fa-solid fa-circle-info"></i>
                    </a>
                    <form asp-action="Delete" asp-route-id="@item.BankId" style="display: inline;">
                        <button type="submit" class="btn">
                            <i class="fa-sharp fa-solid fa-trash"></i>
                        </button>
                    </form>
                </td>
            </tr>
        }
        <tr>
            <td>
                <a asp-action="AddOrEdit" class="btn btn-sm btn-success">
                    <i class="fa-solid fa-plus"></i> New
                </a>
            </td>
        </tr>
    </tbody>
</table>