@model IEnumerable<BankTransactions.Models.Bank>

@{
    ViewData["Title"] = "Banks";
}

@section Search {
    @{
        await Html.RenderPartialAsync("_SearchPartial");
    }
}

<table class="table" id="search-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BankName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionRate)
            </th>
            <th>
                <a asp-action="AddOrEdit" class="btn btn-sm btn-success">
                    <i class="fa-solid fa-plus"></i> New
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BankName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionRate)%
            </td>
                <td>
                    <a asp-action="AddOrEdit" asp-route-id="@item.BankId" class="btn">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </a>
                    <form asp-action="Delete" asp-route-id="@item.BankId" style="display: inline;">
                        <button type="submit" class="btn">
                            <i class="fa-sharp fa-solid fa-trash"></i>
                        </button>
                    </form>
                </td>
        </tr>
}
    </tbody>
</table>
