@model IEnumerable<BankTransactions.Models.Customer>

@{
    ViewData["Title"] = "Customers";
}
<input type="text" class="form-control" id="customer-search-input" onkeyup="filterByName()" placeholder="Search for names..">

<table class="table" id="customer-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Birthday)
            </th>
            <th>
                 <a asp-action="AddOrEdit" class="btn btn-sm btn-success">
                    <i class="fa-solid fa-plus"></i> New
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Birthday)
            </td>
            <td>
                <a asp-action="AddOrEdit" asp-route-id="@item.CustomerId" class="btn">
                    <i class="fa-solid fa-pen-to-square"></i>
                </a>
                <a asp-action="Details" asp-route-id="@item.CustomerId" class="btn">
                    <i class="fa-solid fa-circle-info"></i>
                </a>
                <form asp-action="Delete" asp-route-id="@item.CustomerId" style="display: inline;">
                    <button type="submit" class="btn">
                        <i class="fa-sharp fa-solid fa-trash"></i>
                    </button>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>

<script>
    function filterByName() {
        var input = document.getElementById("customer-search-input");
        var filter = input.value.toUpperCase();
        var table = document.getElementById("customer-table");
        var tr = table.getElementsByTagName("tr");

        for (var i = 0; i < tr.length; i++) {
            var td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                var txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>
